{% extends 'base.html' %}


{% block content %}
    <div style="display: table;margin: auto;">
        {% for week in weeks %}
            {% if week.type_week == 'red' %}
                <div>
                    <hr style="border: 10px solid #d03c3c;">
                </div>
            {% else %}
                <div>
                    <hr style="border: 10px solid #3c84d0;">
                </div>
            {% endif %}
            <div style="display: flex;border: 2px solid;border-radius: 10px;padding: 10px;">
                {% for day in week.week_days.all %}
                    <div style="margin: 10px;">
                        {{ day.name_weekday }}
                        <div>
                            {% for pair in day.pairs.all %}
                                <div>
                                    {{ pair.position }}.<a href="{% url 'pair_view' pair.id %}">{{ pair.subject_fk.title }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
    </div>
{% endblock %}
