{% extends 'base.html' %}

{% block content %}
    {% if week_1 %}
        {% for day in week_1.days.all %}
            {% if day.lesson_1 %}
                <a href="{% url 'lesson' day.tutor_1.id day.lesson_1.id %}">{{ day.lesson_1.name }}</a>
            {% endif %}
            {% if day.lesson_2 %}
                <a href="{% url 'lesson' day.tutor_2.id day.lesson_2.id %}">{{ day.lesson_2.name }}</a>
            {% endif %}
            {% if day.lesson_3 %}
                <a href="{% url 'lesson' day.tutor_3.id day.lesson_3.id %}">{{ day.lesson_3.name }}</a>
            {% endif %}
            {% if day.lesson_4 %}
                <a href="{% url 'lesson' day.tutor_4.id day.lesson_4.id %}">{{ day.lesson_4.name }}</a>
            {% endif %}
            {% if day.lesson_5 %}
                <a href="{% url 'lesson' day.tutor_5.id day.lesson_5.id %}">{{ day.lesson_5.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if week_2 %}
        {% for day in week_2.days.all %}
            {% if day.lesson_1 %}
                <a href="{% url 'lesson' day.tutor_1.id day.lesson_1.id %}">{{ day.lesson_1.name }}</a>
            {% endif %}
            {% if day.lesson_2 %}
                <a href="{% url 'lesson' day.tutor_2.id day.lesson_2.id %}">{{ day.lesson_2.name }}</a>
            {% endif %}
            {% if day.lesson_3 %}
                <a href="{% url 'lesson' day.tutor_3.id day.lesson_3.id %}">{{ day.lesson_3.name }}</a>
            {% endif %}
            {% if day.lesson_4 %}
                <a href="{% url 'lesson' day.tutor_4.id day.lesson_4.id %}">{{ day.lesson_4.name }}</a>
            {% endif %}
            {% if day.lesson_5 %}
                <a href="{% url 'lesson' day.tutor_5.id day.lesson_5.id %}">{{ day.lesson_5.name }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}